* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
body {
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

p:nth-child {
  margin: 0;
}

header {
  border-bottom: solid 8px hsl(0deg, 0%, 60%);
}
.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
  line-height: 1.5;
}

.intro-chunk {
  max-width: 415px;
  padding-top: 96px;
  padding-bottom: 64px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg, 0%, 40%);
  padding-top: 66px;
  padding-bottom: 66px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: solid 8px hsl(0deg, 0%, 60%);
  padding: 24px;
  margin-left: -24px;
}

.indented-heading {
  margin-left: -32px;
  margin-top: -16px;
  margin-bottom: 1rem;
  padding: 16px 32px;
  background-color: hsl(45deg, 100%, 50%);
  max-width: fit-content;
  border-bottom: solid 8px hsl(45deg, 100%, 40%);
}
